<section class="stats_area">
    <h4 title="stats">Stats</h4>
    <div class="row">
        <div class="col-md-8">
            Images
        </div>
        <div class="col-md-4 text-right">
            {{sidebar.stats.images}}
        </div>
    
        <div class="col-md-8">
            Comments
        </div>
        <div class="col-md-4 text-right">
            {{sidebar.stats.comments}}
        </div>
    
        <div class="col-md-8">
            Views
        </div>
        <div class="col-md-4 text-right">
            {{sidebar.stats.views}}
        </div>

        <div class="col-md-8">
            Likes
        </div>
        <div class="col-md-4 text-right">
            {{sidebar.stats.likes}}
        </div>

    </div>

</section>