<section class="col-md-12 chat_area">
    <h4>Webshare Chatroom</h4>
    <div class= "col-md-12 chat_room" id="messages"> </div>

    <div class = "col-md-12">
        <div class="col-md-10" style="margin-top:10px;">
            <input type="text" name = "text" class="form control col-md-10" id="message" 
            placeholder="Enter your message here">
        </div>
        <div class = "col-md-2" style="margin-top:10px;">
            <button class="btn btn-success" id="send">Send</button>
        </div>
    </div>

    <div class = "col-md-12 text=center">
        <h5>Hope you enjoy your stay here</h5>
    </div>
</section>