<section class="recovery_area">
    <h2>Reset Password</h2>
    <hr />
    {{#if recoveryError}}
      <div class="alert alert-danger">{{recoveryError}} <span class="close" data-dismiss="alert">&times;</span></div>
    {{/if}}
    <form method="post" action="/reset/{{user.email}}">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" placeholder="Enter new password" id="password" class="form-control">
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/"><button type="button" class="btn btn-default">Not Me</button></a>
        </div>
    </form>
</section>